.body {
  width: 100%;
}
.header {
  width: 100%;
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
}
.logo {

}
.link_youtube {
  
}
.link_youtube:hover{
    
}
.boton{
   
}
.boton:hover{
   
}
.first_page {
  
}
.container {

}
.left_column {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
.band_name {
  
}
.band_description {
}
.band_img {
  width: 70%;
}
.auxiliar_text{
    
}
.footer{
  text-align: center;
}
.footer_text{
    
}
.right_column{
  text-align: center;
}
